<div class="circle" style="@style">
    <p class="mt-5 text-center">@Input.Value</p>
</div>
@code {
    [Parameter] public InputString Input { get; set; } = null!;
    private string style = "";
    protected override Task OnInitializedAsync()
    {
        style = $"width: {Input.Width}px; height: {Input.Height}px;";
        return base.OnInitializedAsync();
    }

}
