<div class="@clazz" style="@style">
    <input class="@inputClass" @bind="Input.Value" placeholder="@Input.Value"/>
</div>
@code {
    [Parameter] public InputString Input { get; set; } = null!;
    
    private string style = "";
    private string clazz = "";
    private string inputClass = "text-center";
    protected override Task OnInitializedAsync()
    {
        if (Input.Round)
        {
            clazz = "circle";
            inputClass += " mt-5";
            style = $"width: {Input.Width}px; height: {Input.Height}px;";
        }
        else
        {
            clazz = "rectangle";
            inputClass += " mt-2";
        }
        return base.OnInitializedAsync();
    }

}
