<div class="viewport sidebar panel fancy-scrollbar">
    <button>Load</button>
    <button>Save</button>
    <div class="node-list-heading">Nodes</div>
    @foreach (var category in exampleCategories)
    {
        <div class="node-list-subheading">@category.name</div>
        foreach (var node in category.nodes)
        {
            <NodeListPreview Data="node"/>
        }
    }
</div>

@code {

    List<(string name, List<BaseNode> nodes)> exampleCategories = new()
    {
        ("Basics",
            new()
            {
                new OutlineNode
                {
                    Title = "Circle (Outline)",
                    Rounded = true
                },
                new OutlineNode
                {
                    Title = "Rectangle (Outline)",
                    Rounded = false
                },
                new SplitterNode
                {
                    Title = "Splitter Node"
                }
            })
    };

}
